<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains"
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/fnAzaxRSiveFafudJtByxA7I2xT.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Fast Furious 9 </h1>
          <p>(19 de mai de 2021)</p>
          <p>Ação, Aventura, Crime, Thriller
            2h 25m</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>72%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
